@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@inject IHttpContextAccessor Accessor
@inject IProjectMemberRepository ProjectMemberRepository
@model IEnumerable<Dynamics.Models.Models.ProjectMember>

@{
    ViewData["Title"] = "Manage Project Member";
    Layout = "~/Views/Shared/_LayoutProject.cshtml";

    var currentUserID = Accessor.HttpContext.Session.GetString("currentUserID");
    var currentProjectID = Accessor.HttpContext.Session.GetString("currentProjectID");
    //take leader id
    List<ProjectMember> ProjectMemberOfUser = null;
    int? statusProjectMemberOfUser = -1;
    if (!string.IsNullOrEmpty(currentUserID))
    {
        ProjectMemberOfUser = ProjectMemberRepository.FilterProjectMember(p => p.ProjectID.Equals(new Guid(currentProjectID)) && p.UserID.Equals(new Guid(currentUserID)));
        if (ProjectMemberOfUser.Count() > 0)
        {
            statusProjectMemberOfUser = ProjectMemberOfUser?.FirstOrDefault()?.Status;
        }

    }

}

<!-- container -->

<div class="w-full px-20 pb-20 flex flex-col items-center justify-center relative">

    <!-- new table-->
    <div class="w-full flex justify-between items-center mb-3 pl-3 mt-4">
        <div>
            <h2 class=" text-black font-bold text-3xl text-center ">Project members</h2>

            <p class="text-slate-500 text-md">Overview of the current members.</p>
        </div>
       
        <div class="ml-3 flex justify-end ">
            @if (statusProjectMemberOfUser >= 2)
            {
                <a asp-action="ReviewJoinRequest" asp-route-id="@currentProjectID" asp-controller="Project">
                    <div class="w-44 relative inline-flex ">
                        <button class="rounded-md bg-slate-800 py-2 px-4 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-slate-700 focus:shadow-none active:bg-slate-700 hover:bg-slate-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none" type="button">
                            Review join request
                        </button>
                        @if (ViewData["hasJoinRequest"] != null && (bool)ViewData["hasJoinRequest"])
                        {
                            <span class="absolute top-0.5 right-6 grid min-h-[18px] min-w-[18px] translate-x-2/4 -translate-y-2/4 place-items-center rounded-full bg-red-600 py-1 px-1 text-xs text-white">
                            </span>
                        }
                    </div>

                </a>
            }
            <div class="w-full max-w-sm min-w-[200px] relative">
                <div class="relative">
                    <input class="bg-white w-full pr-11 h-10 pl-3 py-2 bg-transparent placeholder:text-slate-400 text-slate-700 text-sm border border-slate-200 rounded transition duration-200 ease focus:outline-none focus:border-slate-400 hover:border-slate-400 shadow-sm focus:shadow-md"
                           placeholder="Search for invoice..." />
                    <button class="absolute h-8 w-8 right-1 top-1 my-auto px-2 flex items-center bg-white rounded "
                            type="button">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" class="w-8 h-8 text-slate-600">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="relative flex flex-col w-full h-full overflow-scroll text-gray-700 bg-white shadow-md rounded-lg bg-clip-border">
        <div style="height:60vh">
            <table class="w-full text-left table-auto min-w-max">
                <thead class="bg-gray-300/20 ">
                    <tr class="text-xl font-bold text-gray-900">
                        <th class="text-xl font-bold text-gray-900 p-4 border-y border-blue-gray-100 bg-blue-gray-50/50">
                            <p class="block font-sans antialiased leading-none  ">
                                Member
                            </p>
                        </th>
                        <th class=" text-xl font-bold text-gray-900 p-4 border-y border-blue-gray-100 bg-blue-gray-50/50">
                            <p class="block font-sans antialiased leading-none  ">
                                Role
                            </p>
                        </th>
                        @if (statusProjectMemberOfUser >= 2)
                        {
                            <th class=" text-xl font-bold text-gray-900 p-4 border-y border-blue-gray-100 bg-blue-gray-50/50">
                                <p class="block font-sans antialiased leading-none  ">
                                    Action
                                </p>
                            </th>
                        }
                    </tr>
                </thead>
                <tbody class="text-base text-gray-900">
                    @foreach (var item in Model)
                    {
                        <tr class="hover:bg-slate-50 border-b border-slate-200 text-md">
                            <td class="p-4 border-b border-blue-gray-50">
                                <div class="flex items-center gap-3">
                                    <img src="@item.User.UserAvatar"
                                         alt="@item.User.UserAvatar" class="relative inline-block h-12 w-12 !rounded-full object-cover object-center" />
                                    <div class="flex flex-col">
                                        <p class="block font-sans antialiased font-normal leading-normal ">
                                            <a asp-action="Details" asp-controller="EditUser" asp-route-id="@item.User.UserID" class="text-black font-bold"> @item.User.UserFullName</a>
                                        </p>
                                        <p class="block font-sans antialiased font-normal leading-normal  ">
                                            @item.User.UserEmail
                                        </p>
                                    </div>
                                </div>
                            </td>
                            <td class="p-4 border-b border-blue-gray-50">
                                @if (item.Status == 2)
                                {
                                    <p class="block font-sans antialiased font-normal leading-normal ">
                                        CEO
                                    </p>
                                }
                                else if (item.Status == 3)
                                {
                                    <p class="block font-sans  antialiased font-normal leading-normal ">
                                        Leader
                                    </p>
                                }
                                else if (item.Status == 1)
                                {
                                    <p class="block font-sans antialiased font-normal leading-normal ">
                                        Member
                                    </p>
                                }
                            </td>
                            @if (statusProjectMemberOfUser >= 2)
                            {
                                <td class="p-4 border-b border-blue-gray-50">
                                    @if (item.Status == 1)
                                    {
                                        <a asp-action="DeleteProjectMember" asp-controller="Project" asp-route-id="@item.User.UserID" type="button" class="h-10 text-white  bg-red-500 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2">Remove</a>
                                    }
                                </td>
                            }

                        </tr>
                    }

                </tbody>
            </table>
        </div>
        <div class="flex justify-between items-center px-4 py-3">
            <div class="text-sm text-slate-500">
                Showing <b>1-5</b> of 45
            </div>
            <div class="flex space-x-1">
                <button class="px-3 py-1 min-w-9 min-h-9 text-sm font-normal text-slate-500 bg-white border border-slate-200 rounded hover:bg-slate-50 hover:border-slate-400 transition duration-200 ease">
                    Prev
                </button>
                <button class="px-3 py-1 min-w-9 min-h-9 text-sm font-normal text-white bg-slate-800 border border-slate-800 rounded hover:bg-slate-600 hover:border-slate-600 transition duration-200 ease">
                    1
                </button>
                <button class="px-3 py-1 min-w-9 min-h-9 text-sm font-normal text-slate-500 bg-white border border-slate-200 rounded hover:bg-slate-50 hover:border-slate-400 transition duration-200 ease">
                    2
                </button>
                <button class="px-3 py-1 min-w-9 min-h-9 text-sm font-normal text-slate-500 bg-white border border-slate-200 rounded hover:bg-slate-50 hover:border-slate-400 transition duration-200 ease">
                    3
                </button>
                <button class="px-3 py-1 min-w-9 min-h-9 text-sm font-normal text-slate-500 bg-white border border-slate-200 rounded hover:bg-slate-50 hover:border-slate-400 transition duration-200 ease">
                    Next
                </button>
            </div>
        </div>
    </div>
</div>
<!--PPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPP-->
<!-- end container -->