@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@inject IHttpContextAccessor Accessor
@inject IProjectMemberRepository ProjectMemberRepository
@model IEnumerable<Dynamics.Models.Models.History>

@{
    ViewData["Title"] = "Manage Project Phase Report";
    Layout = "~/Views/Shared/_LayoutProject.cshtml";
    var currentUserID = Accessor.HttpContext.Session.GetString("currentUserID");
    var currentProjectID = Accessor.HttpContext.Session.GetString("currentProjectID");
    List<ProjectMember> ProjectMemberOfUser = null;
    int? statusProjectMemberOfUser = -1;
    if (!string.IsNullOrEmpty(currentUserID))
    {
        ProjectMemberOfUser = ProjectMemberRepository.FilterProjectMember(p => p.ProjectID.Equals(new Guid(currentProjectID)) && p.UserID.Equals(new Guid(currentUserID)));
        if (ProjectMemberOfUser.Count() > 0)
        {
            statusProjectMemberOfUser = ProjectMemberOfUser?.FirstOrDefault()?.Status;
        }

    }
}

<div class="m-w-screen-2xl items-start justify-center relative px-20 py-10" >
    <div class="flex relative justify-center mb-6 w-full">
        @if (statusProjectMemberOfUser >= 2)
        {
            <!-- add button -->
            <a asp-action="AddProjectPhaseReport" asp-controller="Project" asp-route-projectid="@currentProjectID" title="Add new phase report">
                <button type="button" class="mx-4 timeline-middle">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="gray" class="size-12">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                </button>
            </a>
        }
    </div>
    <ul class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical" style="min-height:130vh;">
     @for(int i = 0;i<Model.Count();i++)
        {
            var item = Model.ElementAt(i);
            string[] imagesPhase = new string[1] { "," };
            if (item.Attachment != null)
            {
                imagesPhase = item.Attachment.TrimEnd(',', ' ').Split(",");
            }
            <li>
                <div class="timeline-middle">
                    <svg xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    class="h-5 w-5">
                        <path fill-rule="evenodd"
                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                        clip-rule="evenodd" />
                    </svg>
                </div>
                @if (i % 2 == 0){
                 <div class="timeline-start mb-10 md:text-end">
                <time class="font-mono italic">   @item.Date</time>
            <div class="relative text-md font-black">@item.Phase</div>
                    
                    @item.Content
                    <div class="flex justify-end gap-x-6 pt-4">
                        @foreach (var img in imagesPhase)
                        {
                            <button onclick="openModal('@img')">
                                <img src="@img" alt="current-phase-img" class="h-48 w-48 rounded-xl shadow-md cursor-pointer" />
                            </button>
                            <dialog id="phase_image" class="modal">
                                <div class="modal-box w-fit h-fit p-0 m-0" style=" background-color: rgba(0, 0, 0, 0);">
                                    <img id="modalImage" alt="current-phase-img" class=" h-[80vh] w-auto rounded-xl shadow-md cursor-pointer" />
                                </div>
                                <form method="dialog" class="modal-backdrop ">
                                    <button>close</button>
                                </form>
                            </dialog>

                        }
                        
                    </div>
                        @if (statusProjectMemberOfUser >= 2)
                        {
                            <!-- edit button -->
                            <a asp-action="EditProjectPhaseReport" asp-route-projectid="@item.ProjectID" asp-route-historyid="@item.HistoryID" title="Edit project phase report">
                                <button type="button" class="absolute top-0 w-fit h-fit mx-2 my-2 p-2 " style="left:45px;">
                                    <i class="fa-solid fa-pen-to-square text-2xl text-gray-900"></i>
                                </button>
                            </a>
                            <a asp-action="DeleteProjectPhaseReport" asp-route-id="@item.HistoryID" title="Delete project phase report">
                                <button type="button" class="absolute top-0 w-fit h-fit mx-2 my-2 p-2 " style="left:-5px;">
                                    <i class="fa-solid fa-trash text-2xl text-gray-900"></i>
                                </button>
                            </a>
                        }
                    </div>
                }
                    else
                    {
                        <div class="timeline-end mb-10">
                <time class="font-mono italic">   @item.Date</time>
            <div class="relative text-lg font-black">@item.Phase</div>
                    
                    @item.Content
                    <div class="flex justify-start gap-x-6 pt-4">
                      
                        @foreach (var img in imagesPhase)
                        {
                            <button onclick="openModal('@img')">
                                <img src="@img" alt="current-phase-img" class="h-48 w-48 rounded-xl shadow-md cursor-pointer" />
                            </button>
                            <dialog id="phase_image" class="modal">
                                <div class="modal-box w-fit h-fit p-0 m-0" style=" background-color: rgba(0, 0, 0, 0);">
                                    <img id="modalImage" alt="current-phase-img" class=" h-[80vh] w-auto rounded-xl shadow-md cursor-pointer" />
                                </div>
                                <form method="dialog" class="modal-backdrop ">
                                    <button>close</button>
                                </form>
                            </dialog>

                        }
                    </div>
                        @if (statusProjectMemberOfUser >= 2)
                        {
                            <!-- edit button -->
                            <a asp-action="EditProjectPhaseReport" asp-route-projectid="@item.ProjectID" asp-route-historyid="@item.HistoryID" title="Edit project phase report">
                                <button type="button" class="absolute top-0 w-fit h-fit mx-2 my-2 p-2 " style="right:45px;">
                                    <i class="fa-solid fa-pen-to-square text-2xl text-gray-900"></i>
                                </button>
                            </a>
                            <a asp-action="DeleteProjectPhaseReport" asp-route-id="@item.HistoryID" title="Delete project phase report">
                                <button type="button" class="absolute top-0 w-fit h-fit mx-2 my-2 p-2 " style="right:-5px;">
                                    <i class="fa-solid fa-trash text-2xl text-gray-900"></i>
                                </button>
                            </a>
                        }
                    </div>
                    }

            <hr/>
            </li>
        }
        @if(Model.Count() < 5)
        {
            for(int i = 0; i < 5 - Model.Count(); i++)
            {
                <li>
                    <div class="timeline-middle">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 20 20"
                             fill="currentColor"
                             class="h-5 w-5">
                            <path fill-rule="evenodd"
                                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                                  clip-rule="evenodd" />
                        </svg>
                    </div>
                    <div class="timeline-end mb-64"></div>
                    <hr />
                </li>
            }
        }
    </ul>
 </div>

<script>
    function openModal(imgSrc) {
        // Get the modal image element and set its src to the clicked image
        document.getElementById('modalImage').src = imgSrc;
        // Show the modal
        document.getElementById('phase_image').showModal();
    }
</script>