@model Dynamics.Models.Dto.VnPayResponseDto

@{
    ViewData["Title"] = "Payment success";
    Layout = "_Layout";
    var returnUrl = Accessor.HttpContext.Session.GetString("paymentRedirect") ?? "~/";
    // Clear the returnUrl
    Accessor.HttpContext.Session.Remove("paymentRedirect");
}
@if (Model == null)
{
    <script type="text/javascript">
        window.location.href = '@Url.Action("Index", "Home")';
    </script>
}
else
{
    <main class="w-full min-h-screen flex flex-col gap-4 items-center justify-center">
        <div class="relative w-full max-w-screen-lg rounded shadow-md flex flex-col gap-4 p-16 border">
            <p class="text-6xl text-center text-success mb-4">
                <i class="fa-regular fa-circle-check"></i>
            </p>
            <h1 class="font-bold text-center text-3xl text-success">Payment success!, thank you for your donation</h1>
            <table class="w-full max-w-lg mx-auto table">
                <thead>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <b>Transaction ID:</b>
                    </td>
                    <td>@Model.TransactionID</td>
                </tr>
                <tr>
                    <td>
                        <b>Amount:</b>
                    </td>
                    <td>@Model.Amount VND</td>
                </tr>
                <tr>
                    <td>
                        <b>Message:</b>
                    </td>
                    <td>@Model.Message</td>
                </tr>
                <tr>
                    <td>
                        <b>Time:</b>
                    </td>
                    <td>@Html.DisplayFor(model => model.Time)</td>
                </tr>
                </tbody>
            </table>

            <a class="btn btn-primary btn-md max-w-sm mx-auto" asp- href="@returnUrl">Go back</a>
        </div>
    </main>
}