@using Dynamics.Utility
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.IdentityModel.Tokens
@model Dynamics.Models.Models.ViewModel.UserRequestsStatusViewModel
@{
    Layout = "CustomLayout/_LayoutWithNavbarOnly";
    ViewData["Title"] = "Activity history";
    // For incrementing the rows
    var prjCount = 0;
    var orgCount = 0;
    int donCount = ((Model.PaginationRequestDto.PageNumber - 1) * Model.PaginationRequestDto.PageSize) + 1;
}

<main class="flex md:p-6 pb-0 flex-1 min-h-screen">
@* Left *@
@await Html.PartialAsync("CustomComponent/_UserSidebar", "History")
<div class="divider divider-horizontal"></div>
@* Right *@
<div class="w-full h-full py-4 rounded-sm">
@* Navbar  *@

<nav class="shadow relative w-full" style="background-color:#151D28">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-center">
            <div class="flex space-x-8 text-2xl">
                <a asp-action="History" asp-controller="User" class="text-gray-500 hover:text-white px-3 py-2 font-medium">Transaction history</a>
                <a asp-action="RequestsStatus" asp-controller="User" class="text-white px-3 py-2 font-bold focus:bg-gray-800">Requests status</a>
            </div>
        </div>
    </div>
</nav>

<div class="w-full max-w-screen-lg mx-auto py-8 flex flex-col gap-12">
<!-- List of joining request to an organization -->
<section class="w-full">
    <h1 class="text-3xl font-bold mb-2">Manage your join and donation requests</h1>
    <h2 class="mb-8 text-neutral">
        <i>If you have requested to join an organization, a project or any resources donation, it will appear here</i>
    </h2>
    <!-- This will list the user requests to join organizations -->
    @if (!Model.OrganizationJoinRequests.IsNullOrEmpty())
    {
        <h1 class="text-3xl font-bold mb-4 ">Your requests to join organizations:</h1>
        <!-- Right search bar -->
        <div class="flex w-full justify-end items-center gap-2 mb-4">
            @* Search bar *@
            <div class="join">
                <div class="input input-bordered flex items-center gap-2 rounded-r-none">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 16 16"
                         fill="currentColor"
                         class="h-4 w-4 opacity-70">
                        <path fill-rule="evenodd"
                              d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
                              clip-rule="evenodd"/>
                    </svg>
                    <input type="text" class="grow" placeholder="Search something..."/>
                </div>
                <select class="select select-bordered join-item">
                    <option disabled selected>Filter</option>
                    <option>Sci-fi</option>
                    <option>Drama</option>
                    <option>Action</option>
                </select>
            </div>
        </div>
        <!-- End right search bar -->

        <!-- List of activity -->
        <ul class="flex flex-col gap-2 w-full h-full max-h-80 p-4" style="overflow: auto; overflow-x: hidden">
            @{
                foreach (var modelOrganizationJoinRequest in Model.OrganizationJoinRequests)
                {
                    if (modelOrganizationJoinRequest.Status >= 1) continue;
                    orgCount += 1;
                    <li class="p-4 shadow-md flex justify-between items-center rounded-sm">
                        <!-- Left side -->
                        <div class="flex flex-col gap-2">
                            <div class="flex gap-2">
                                <span class="font-bold">@orgCount.</span>
                                <span>@modelOrganizationJoinRequest.Organization.OrganizationName</span>
                            </div>
                        </div>

                        <!-- Right side -->
                        <div class="flex items-center justify-end gap-2 min-w-48 font-semibold">
                            @switch (modelOrganizationJoinRequest.Status)
                            {
                                case 0:
                                    <div class="relative grid items-center px-2 py-1 font-sans font-bold text-blue-900 uppercase rounded-md select-none whitespace-nowrap bg-blue-500/20">
                                        <span class="text-center">Pending</span>
                                    </div>
                                    <dialog id="@("oModal" + orgCount)" class="modal">
                                        <div class="modal-box">
                                            <form method="dialog">
                                                <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                                            </form>
                                            <h3 class="text-lg font-bold">Are you sure?</h3>
                                            <p class="py-4">You are about to cancel your request</p>
                                            <div class="modal-action gap-4">
                                                <form asp-action="CancelJoinRequest" asp-controller="User" method="post" class="btn btn-error btn-sm">
                                                    <input type="hidden" name="userID" value="@modelOrganizationJoinRequest.UserID"/>
                                                    <input type="hidden" name="targetID" value="@modelOrganizationJoinRequest.OrganizationID"/>
                                                    <input type="hidden" name="type" value="organization"/>
                                                    <button type="submit">Confirm</button>
                                                </form>
                                                <form method="dialog" class="btn btn-primary btn-sm">
                                                    <button>Go back</button>
                                                </form>
                                            </div>
                                        </div>
                                        <form method="dialog" class="modal-backdrop">
                                            <button>close</button>
                                        </form>
                                    </dialog>
                                    <!-- Open the modal using ID.showModal() method -->
                                    <button type="submit" class="btn btn-error btn-xs tooltip min-h-0" data-tip="Cancel request?"
                                            onclick="document.getElementById('@("oModal" + orgCount)').showModal()">
                                        <i class="fa-solid fa-xmark"></i>
                                    </button>
                                    break;
                                case 1:
                                    <p class="badge badge-success min-w-24">Accepted</p>
                                    break;
                                default:
                                    @* <p class="badge badge-warning min-w-24">Status besides 0 and 1 are not implemented</p> *@
                                    break;
                            }
                        </div>
                    </li>
                }
            }
        </ul>
        @* // End list *@
        @* <div class="divider divider-neutral py-8"></div> *@
    }
</section>
@* End list of organization request *@

<!-- List of joining request to a project -->
<section class="w-full">
    <!-- This will list the user requests to join organizations -->
    @if (!Model.ProjectJoinRequests.IsNullOrEmpty())
    {
        <h1 class="text-3xl font-bold mb-4 ">Your requests to join projects:</h1>
        <!-- right search bar -->
        <div class="flex w-full justify-end items-center gap-2 mb-4">
            <div class="join">
                <!-- TODO: Implement search -->
                <div>
                    <div>
                        <div class="input input-bordered flex items-center gap-2 rounded-r-none">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 16 16"
                                 fill="currentColor"
                                 class="h-4 w-4 opacity-70">
                                <path fill-rule="evenodd"
                                      d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
                                      clip-rule="evenodd"/>
                            </svg>
                            <input type="text" class="grow" placeholder="Search something..."/>
                        </div>
                    </div>
                </div>
                <!-- TODO: Implement filter dropdown -->
                <select class="select select-bordered join-item">
                    <option disabled selected>Filter</option>
                    <option>Sci-fi</option>
                    <option>Drama</option>
                    <option>Action</option>
                </select>
            </div>
        </div>
        <!-- End right search bar -->
        <!-- List of activity -->
        <ul class="flex flex-col gap-2 w-full h-full max-h-80 p-4" style="overflow: auto; overflow-x: hidden">
            @{
                foreach (var modelProjectJoinRequest in Model.ProjectJoinRequests)
                {
                    if (modelProjectJoinRequest.Status >= 1) continue; // Don't display project that user is admin or leader / already a member
                    prjCount += 1;
                    <li class="p-4 shadow-md flex justify-between rounded-sm">
                        <!-- Left side -->
                        <div class="flex flex-col gap-2">
                            <div class="flex gap-2">
                                <span class="font-bold">@prjCount.</span>
                                <span>@modelProjectJoinRequest.Project.ProjectName</span>
                            </div>
                        </div>

                        <!-- Right side -->
                        <div class="flex items-center justify-end gap-2 min-w-48 font-semibold">
                            @switch (modelProjectJoinRequest.Status)
                            {
                                case 0:
                                    <div class="relative grid items-center px-2 py-1 font-sans font-bold text-blue-900 uppercase rounded-md select-none whitespace-nowrap bg-blue-500/20">
                                        <span class="">Pending</span>
                                    </div>
                                    <dialog id="@("pModal" + prjCount)" class="modal">
                                        <div class="modal-box">
                                            <form method="dialog">
                                                <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                                            </form>
                                            <h3 class="text-lg font-bold">Are you sure?</h3>
                                            <p class="py-4">You are about to cancel your request</p>
                                            <div class="modal-action gap-4">
                                                <form asp-action="CancelJoinRequest" asp-controller="User" method="post" class="btn btn-error btn-sm">
                                                    <input type="hidden" name="userID" value="@modelProjectJoinRequest.UserID"/>
                                                    <input type="hidden" name="targetID" value="@modelProjectJoinRequest.ProjectID"/>
                                                    <input type="hidden" name="type" value="project"/>
                                                    <button type="submit">Confirm</button>
                                                </form>
                                                <form method="dialog" class="btn btn-primary btn-sm">
                                                    <button>Go back</button>
                                                </form>
                                            </div>
                                        </div>
                                        <form method="dialog" class="modal-backdrop">
                                            <button>close</button>
                                        </form>
                                    </dialog>
                                    <!-- Open the modal using ID.showModal() method -->
                                    <button type="submit" class="btn btn-error btn-xs tooltip min-h-0" data-tip="Cancel request?"
                                            onclick="document.getElementById('@("pModal" + prjCount)').showModal()">
                                        <i class="fa-solid fa-xmark"></i>
                                    </button>
                                    break;
                                case 1:
                                    <p class="badge badge-success min-w-24">Accepted</p>
                                    break;
                                case -1:
                                    <p class="badge badge-success min-w-24">Denied</p>
                                    break;
                                default:
                                    @* <p class="badge badge-warning min-w-24">Status besides 0 and 1 are not implemented</p> *@
                                    break;
                            }
                        </div>
                    </li>
                }
            }
        </ul>
        @* <div class="divider divider-neutral py-8"></div> *@
    }
</section>
@* End list of project request *@

<!-- Pending donation requests -->
<section class="w-full">
    <h1 class="text-3xl font-bold mb-4 ">Pending resources donation requests</h1>
    <h3 class="text-neutral mb-8">
        <i>Please wait while the receivers confirm your donation.</i>
    </h3>
    <!-- right search bar -->
    <form class="flex w-full justify-start items-center gap-2 my-4" id="searchForm" method="get" asp-action="RequestsStatus">
        @* Hidden pagination inputs *@
        <input type="hidden" value="@Model.PaginationRequestDto.PageNumber" name="PageNumber"/>
        <input type="hidden" value="@Model.PaginationRequestDto.PageSize" name="PageSize"/>
        <input type="hidden" value="@Model.PaginationRequestDto.TotalPages" name="TotalPage"/>
        <input type="hidden" value="@Model.PaginationRequestDto.TotalRecords" name="TotalRecords"/>
        @* Search bar *@
        <div class="join">
            <div>
                <div>
                    <div class="input input-bordered flex items-center gap-2 rounded-r-none bg-white">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 16 16"
                             fill="currentColor"
                             class="h-4 w-4 opacity-70">
                            <path fill-rule="evenodd"
                                  d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
                                  clip-rule="evenodd"/>
                        </svg>
                        <input type="text" class="grow" placeholder="Search something..." name="Query" value="@Model.SearchRequestDto.Query"/>
                    </div>
                </div>
            </div>
            <select class="select select-bordered join-item bg-white" name="Filter">
                @{
                    // Check if user already has filter before
                    bool isFilteredBefore = !string.IsNullOrEmpty(Model.SearchRequestDto.Filter);
                    foreach (var filterOptions in Model.FilterOptions)
                    {
                        if (filterOptions.Key.Equals(SearchOptionsConstants.Filter, StringComparison.OrdinalIgnoreCase))
                        {
                            // If there is no selected filter before, we make the Filter option selected and disabled
                            if (!isFilteredBefore)
                            {
                                <option value="@filterOptions.Value" selected disabled>@filterOptions.Key</option>
                            }
                            else
                            {
                                <option value="@filterOptions.Value" disabled>@filterOptions.Key</option>
                            }
                        }
                        else
                        {
                            // If a filter exist, select that filter automatically
                            if (isFilteredBefore && filterOptions.Value.Equals(Model.SearchRequestDto.Filter, StringComparison.OrdinalIgnoreCase))
                            {
                                <option value="@filterOptions.Value" selected>@filterOptions.Key</option>
                            }
                            else
                            {
                                <option value="@filterOptions.Value"> @filterOptions.Key</option>
                            }
                        }
                    }
                }
            </select>
            <input name="DateFrom" type="date" placeholder="From date" class="input input-bordered join-item bg-white"
                   max="@DateTime.Now.ToString("yyyy-MM-dd")" value="@(Model.SearchRequestDto.DateFrom.HasValue ? Model.SearchRequestDto.DateFrom.Value.ToString("yyyy-MM-dd") : "")"/>
            <input name="DateTo" type="date" placeholder="To date" class="input input-bordered join-item bg-white rounded-md"
                   max="@DateTime.Now.ToString("yyyy-MM-dd")" value="@(Model.SearchRequestDto.DateTo.HasValue ? Model.SearchRequestDto.DateTo.Value.ToString("yyyy-MM-dd") : "")"/>
        </div>
        <button class="btn btn-primary">Search</button>
    </form>
    <!-- End right search bar -->

    <!-- Table of the resources -->
    <div class="w-full overflow-x-hidden p-4">
        @if (Model.ResourcesDonationRequests.IsNullOrEmpty())
        {
            <h3 class="font-bold text-center text-2xl">No information available.</h3>
        }
        else
        {
            <table class="table table-md">
                <thead class="bg-gray-300/20">
                <tr class="text-xl text-gray-900">
                    <th>#</th >
                    <th> Date </th >
                    <th> Resource</th >
                    <th> Quantity </th >
                    <th> Unit </th >
                    <th> Sent to </th >
                    <th> Donation message </th >
                    <th> Status</th>
                    <th> Action </th>
                </tr >
                </thead >
                <tbody >
                @{
                    foreach (var donationRequest in Model.ResourcesDonationRequests)
                    {
                        <tr class="hover:bg-slate-50 border-b border-slate-200">
                            <!-- Content - Resource name - Quantity - Unit - Date - Sent to - Status -->
                            <th>@donCount</th>
                            <td>@Html.DisplayFor(u => donationRequest.Time)</td>
                            <td>@donationRequest.ResourceName</td>
                            <td>@donationRequest.Amount.ToString("N0")</td>
                            <td>@donationRequest.Unit</td>
                            <td>@donationRequest.Name</td>
                            <td>@donationRequest.Message</td>
                            <td class="text-center">
                                @switch (donationRequest.Status)
                                {
                                    case -1:
                                    {
                                        <div class="relative grid items-center px-2 py-1 font-sans font-bold text-red-900 uppercase rounded-md select-none whitespace-nowrap bg-red-500/20">
                                            <span class="">Denied</span>
                                        </div>
                                        break;
                                    }
                                    case 0:
                                    {
                                        <div class="relative grid items-center px-2 py-1 font-sans font-bold text-blue-900 uppercase rounded-md select-none whitespace-nowrap bg-blue-500/20">
                                            <span class="">Pending</span>
                                        </div>
                                        break;
                                    }
                                }
                            </td>
                            <td>
                                <div class="dropdown dropdown-hover dropdown-end">
                                    <div tabindex="0" role="button" class="py-2 px-4 border border-solid border-gray-300 shadow-sm rounded-md m-1 bg-gray-100 text-black font-bold">Menu</div>
                                    <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-[1] w-52 p-2 shadow">
                                        <li class="hover:bg-gray-500/30 hover:font-bold rounded-xl">
                                            <a onClick="document.getElementById('proofImagesModal_@donationRequest.TransactionID').showModal()">View proof images</a>
                                        </li>
                                        <li class="hover:bg-red-500/30 hover:font-bold rounded-xl">
                                            <a onClick="document.getElementById('DenyModal_@donationRequest.TransactionID').showModal()">Cancel request</a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- Proof Images Modal for this specific item -->
                                <dialog id="proofImagesModal_@donationRequest.TransactionID" class="modal">
                                    <div class="modal-box w-11/12 max-w-5xl">
                                        <h2 class="text-black font-bold text-3xl text-center mb-4">Proof images</h2>
                                        @{
                                            string[] proofImages = null;
                                            if (!string.IsNullOrEmpty(donationRequest.Attachments))
                                            {
                                                proofImages = donationRequest.Attachments.Split(",");
                                            }
                                        }
                                        <div class="flex flex-wrap items-start" style="height:50vh;">
                                            @{
                                                if (proofImages == null || proofImages[0] == "")
                                                {
                                                    <p class="text-center">No proof images present</p>
                                                }
                                                else
                                                {
                                                    foreach (var img in proofImages)
                                                    {
                                                        <button type="button" onclick="openImageModal('@img')">
                                                            <img src="@img" alt="proof-img" class="h-40 w-auto rounded-xl shadow-md cursor-pointer"/>
                                                        </button>
                                                        <!-- Image Modal for each proof image (one per item) -->
                                                        <dialog id="proof_image" class="modal">
                                                            <div class="modal-box w-fit h-fit p-0 m-0" style="background-color: rgba(0, 0, 0, 0);">
                                                                <img id="modalImage" alt="current-proof-img" class=" h-[80vh] w-auto rounded-xl shadow-md cursor-pointer"/>
                                                            </div>
                                                            <form method="dialog" class="modal-backdrop ">
                                                                <button>Close</button>
                                                            </form>
                                                        </dialog>
                                                    }
                                                }
                                            }
                                        </div>
                                    </div>
                                    <form method="dialog" class="modal-backdrop">
                                        <button>Close</button>
                                    </form>
                                </dialog>

                                <!--modal of cancel request-->
                                <dialog id="DenyModal_@donationRequest.TransactionID" class="modal modal-bottom sm:modal-middle">
                                    <div class="modal-box">
                                        <div class="modal-action flex flex-col">
                                            <h2 class=" text-black font-bold text-3xl text-center mb-4">Cancel this request</h2>
                                            <form method="dialog">
                                                <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                                            </form>
                                            <h3 class="text-lg font-bold">Are you sure?</h3>
                                            <p class="py-4">You are about to cancel your donation to: @donationRequest.Name</p>
                                            <div class="modal-action gap-4">
                                                <form asp-action="CancelDonation" asp-controller="User" method="post" class="btn btn-error btn-sm">
                                                    <input type="hidden" name="transactionID" value="@donationRequest.TransactionID"/>
                                                    <input type="hidden" name="type" value="@donationRequest.Type"/>
                                                    <button type="submit">Confirm</button>
                                                </form>
                                                <form method="dialog" class="btn btn-primary btn-sm">
                                                    <button>Go back</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <form method="dialog" class="modal-backdrop">
                                        <button>close</button>
                                    </form>
                                </dialog>
                            </td>
                        </tr>
                        donCount += 1;
                    }
                }
                </tbody>
            </table>
            <partial name="CustomComponent/_PaginationFooter" model="@Model.PaginationRequestDto"/>
        }
    </div>
</section>
</div>

<partial name="_ValidationDatePartial"/>

@* Script to display the images if clicked *@
<script>
    let showImgLinks = document.querySelector(".showImgLink");
    
</script>
<partial name="CustomComponent/_SweetAlertToast"/>
</div>
</main>