@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@inject IHttpContextAccessor Accessor
@inject Dynamics.DataAccess.Repository.IProjectRepository projectRepo

<link rel="stylesheet" href="~/css/output.css">

<!-- Navbar -->
@{
    var currentProjectIDString = Accessor.HttpContext.Session.GetString("currentProjectID");
    var currentProject = new Project();
    if (!string.IsNullOrEmpty(currentProjectIDString))
    {      
        currentProject = await projectRepo.GetProjectAsync(p => p.ProjectID.Equals(new Guid(currentProjectIDString)));
    }

    var images = currentProject.Attachment;
    string projectFirstImage = "";
    if (images != null)
    {
        projectFirstImage = images.TrimEnd(',', ' ').Split(",")[0];
    }
}

<!-- banner project -->
<div class="flex justify-center items-center w-full relative" style="height:50vh; background-image: url('@projectFirstImage'); background-size: cover; background-position: center;">
    <!-- Div này sẽ làm mờ ảnh bằng Tailwind -->
    <div class="absolute inset-0 bg-cover bg-center filter blur-md" style="background-image: url('@projectFirstImage');background-size: cover; background-position: center;"></div>

    <!-- Title => Don't blur -->
    <div class="flex flex-col relative z-10 text-center p-6 gap-4 bg-white w-full max-w-screen-md rounded">
        @* remind: inject to take project name, organization name *@
        <h2 class="text-black font-bold text-4xl">@currentProject?.ProjectName</h2>
        <h4 class="font-mona-sans text-gray-700 font-semibold text-3xl">By @currentProject?.Organization.OrganizationName</h4>
    </div>
</div>


<!-- end banner project -->
<!-- navbar -->
<nav class="shadow relative" style="background-color:#151D28">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-center">
            <div class="flex text-xl">
                <a asp-action="ManageProject"
                   asp-route-id="@currentProject?.ProjectID"
                   class="px-6 py-4 font-medium
                   @(ViewContext.RouteData.Values["action"]?.ToString() == "ManageProject"
                   ||ViewContext.RouteData.Values["action"]?.ToString() =="SendDonateRequest" 
                    ||ViewContext.RouteData.Values["action"]?.ToString() =="UpdateProjectProfile"
                    ||ViewContext.RouteData.Values["action"]?.ToString() =="ShutdownProject"
                    ||ViewContext.RouteData.Values["action"]?.ToString() =="ImportFileProject"
                   ? "bg-gray-800 text-white font-bold " : "text-gray-500 hover:text-white hover:bg-gray-800 ")">
                    Details
                </a>
                <a asp-action="ManageProjectDonor"
                   asp-route-id="@currentProject?.ProjectID"
                   class="px-6 py-4 font-medium
                   @(ViewContext.RouteData.Values["action"]?.ToString() == "ManageProjectDonor" 
                    ||ViewContext.RouteData.Values["action"]?.ToString() == "ReviewUserDonateRequest"
                    ||ViewContext.RouteData.Values["action"]?.ToString() == "ReviewOrgDonateRequest"
                    ? "bg-gray-800 text-white font-bold" : "text-gray-500 hover:text-white hover:bg-gray-800")">
                    Donors
                </a>
                <a asp-action="ManageProjectMember"
                   asp-route-id="@currentProject?.ProjectID"
                   class="px-6 py-4 px-3 py-2 font-medium
                   @(ViewContext.RouteData.Values["action"]?.ToString() == "ManageProjectMember" 
                   ||ViewContext.RouteData.Values["action"]?.ToString() == "ReviewJoinRequest"
                   ||ViewContext.RouteData.Values["action"]?.ToString() == "InviteMembers"
                   ||ViewContext.RouteData.Values["action"]?.ToString() == "AcceptJoinInvitation"
                   ||ViewContext.RouteData.Values["action"]?.ToString() == "CancelJoinInvitation"
                   ? "bg-gray-800 text-white font-bold" : "text-gray-500 hover:text-white hover:bg-gray-800")">
                    Members
                </a>
                <a asp-action="ManageProjectResource"
                   asp-route-id="@currentProject?.ProjectID"
                   class="px-6 py-4  font-medium
                   @(ViewContext.RouteData.Values["action"]?.ToString() == "ManageProjectResource" 
                     ||ViewContext.RouteData.Values["action"]?.ToString() == "AddProjectResourceType"
                     ||ViewContext.RouteData.Values["action"]?.ToString() == "UpdateResourceType"
                                       ? "bg-gray-800 text-white font-bold" : "text-gray-500 hover:text-white hover:bg-gray-800")">
                    Resources
                </a>
                <a asp-action="ManageProjectPhaseReport"
                   asp-route-id="@currentProject?.ProjectID"
                   class="px-6 py-4 font-medium
                   @(ViewContext.RouteData.Values["action"]?.ToString() == "ManageProjectPhaseReport" 
                    ||ViewContext.RouteData.Values["action"]?.ToString() == "AddProjectPhaseReport"
                    ||ViewContext.RouteData.Values["action"]?.ToString() == "EditProjectPhaseReport"
                    ? "bg-gray-800 text-white font-bold" : "text-gray-500 hover:text-white hover:bg-gray-800")">
                    Updates
                </a>
            </div>
        </div>
    </div>
</nav>

<!-- end navbar -->



